.navbar-brand img{
    
    max-width: 200px;
    border: none;
    background-color: rgba(0,0,0,0);
}

#masthead {
    height: 580px;
    

    height: 580px;
    background-color: rgba(6,58,148,1);
    
}

#masthead #masthead_bg{
    
    background: url('../images/masthead_img.jpg');
    background-size: cover;
    height: 100%;
    opacity: 0.5;
    filter: grayscale(100%);
    width: 100%;
}

#masthead #masthead_content{
    position: absolute;
    color: white;
    z-index: 1;
}

#smart {
    padding-top: 100px;
    padding-bottom: 100px;
}

#smart .smart-icon-container{
    width: 100px;
    height: 100px;

    border-radius: 50px;
    background-color: #D0D0D0;
}

#smart #smart-heading-container{
    padding-bottom: 50px;
}

#smart h5{
    padding-top:20px;
    padding-bottom:20px
}

@media(min-width: 600px){
    #smart .smart-icon-container{
        width: 150px;
        height: 150px;
    
        border-radius: 75px;

    }
}

@media(min-width: 1200px){
    #smart .smart-icon-container{
        width: 180px;
        height: 180px;
    
        border-radius: 90px;

    }
}

@media(min-width: 1600px){
    #smart .smart-icon-container{
        width: 200px;
        height: 200px;
    
        border-radius: 100px;

    }
}